# Logs
## Client
client/logs
*.log
client/npm-debug.log*

client/node_modules
client/dist
client/dist-ssr
*.local

*.log


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
