# Logs

##################
#    Client
##################
client/logs
*.log
client/npm-debug.log*

node_modules
client/node_modules
client/dist
client/dist-ssr
*.local

*.log

##################
#    Server
##################
server/logs
server/.venv
server/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
