# Logs
## Client
client/logs
*.log
client/npm-debug.log*

client/node_modules
client/dist
client/dist-ssr
*.local

## Server
server/logs
*.log
server/npm-debug.log*
server/node_modules
server/dist
server/dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
